.container{
  display: flex;
  align-items: center;
  /* height: 100vh;
  width: 100vw;
  background-color: #111;
  color: #bbb; */
  gap: 100px;
}

.item{
  flex: 1;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 50px;
}

.title{
  font-size: 72px;
  background: linear-gradient(to bottom, #194c33, #bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.img{
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  /* border: 1px solid #bbb; */
  /* box-shadow: 0 0 10px #bbb; */
  animation: move 3s infinite ease alternate;
    
}
@keyframes move {
    from{
        transform: translateY(-10px);
    }
    to{
        transform: translateY(10px);
    }
}

.desc{
  font-size: 24px;
  font-weight: 300;
  /* margin-bottom: 30px; */
}

.button{
  background-color: #53c28b;
  color: white;
  font-weight: bold;
  padding: 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  max-width: max-content;
  color: white;
}